<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffssabcloud.forum.domain.DB1.UserRepository">
    <resultMap id="userMap" type="com.ffssabcloud.forum.domain.User">
        <id property="id" column="id" javaType="Integer"/>
        <result property="username" column="username"/>
        <result property="rid" column="rid" javaType="Integer"/>
        <result property="email" column="email"/>
        <result property="description" column="description"/>
        <result property="location" column="location"/>
        <result property="password" column="password"/>
    </resultMap>
    <select id="findByUsername" parameterType="String" resultMap="userMap">
        select *
        from users
        where username=#{username}
    </select>
    <select id="getCountOfUser" resultType="Integer">
        select count(*)
        from users
    </select>
    <insert 
        id="addAUser"
        parameterType="com.ffssabcloud.forum.domain.User"
        flushCache="true">
        insert into users(rid, email, description, location, username, password)
        values(#{rid}, #{email}, #{description}, #{location}, #{username}, #{password})
    </insert>
</mapper>