<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>archives</title>
    <link th:href="@{//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/style.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/blog-footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/blog.css}">
</head>

<body>
    <div th:replace="navbar::header-nav"></div>
    <div class="container archives-wrap">
        <div th:each="archive:${archives}">
            <div th:id="${archive.date}">
                <p th:text="${archive.date}"></p>
            </div>
            <div class="list-group" th:each="article:${archive.articles}">
                <a th:href="@{'/articles/'+${article.id}}" class="list-group-item">
                    <h4 class="list-group-item-heading" th:text="${article.title}"></h4>
                    发布于:
                    <span th:text="${commons.fmtUnixTime(article.createat)}"></span>
                    <p class="list-group-item-text" th:text="${article.description}"></p>
                </a>
            </div>
        </div>
    </div>
    <div th:replace="footer::bottom-footer"></div>
</body>

</html>