<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="'My Blog '+${title}"></title>
    <link th:href="@{//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/style.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/blog-navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/blog-footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/blog.css}">
</head>

<body>
    <div th:replace="navbar::header-nav"></div>
    <div th:replace="header::header"></div>
    <div th:replace="content::main-content"></div>
    <div th:replace="footer::bottom-footer"></div>
</body>
<script th:src="@{//cdn.bootcss.com/jquery/2.2.3/jquery.min.js}"></script>
<script th:src="@{/js/comment.js}"></script>
</html>