<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link th:href="@{//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/style.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/blog-navbar.css}">
</head>
<body>
    <div th:replace="navbar::header-nav"></div>
    <h1>Hello World</h1>
</body>
</html>