<!DOCTYPE html>
<html lang="en">
<body>
    <div th:fragment="main-content" class="container">
        <div class="row">
            <div class="col-sm-8" style="min-height: 600px">
                <div class="article-header">
                    <h2 class="article-header-title" th:text="${article.title}"></h2>
                    <span th:text="${commons.fmtUnixTime(article.createat)}"></span>/
                    <span th:text="${article.categories}"></span>/
                    <span th:text="${article.clicks}"></span>浏览/
                    <span th:text="${article.comments}"></span>评论
                    <br>
                    <span class="label label-primary" th:each="tag:${#strings.arraySplit(article.tags,',')}" th:text="${tag}" th:style="'margin-right: 5px'"> 
                    </span>
                    <p th:text="${article.description}" style="margin-top: 12px;"></p>
                    <hr>
                </div>
                <div class="article-main" th:utext="${article.content}"></div>
            </div>
            <div th:replace="sidebar::sidebar"></div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div th:replace="comment::comment"></div>
            </div>
        </div>
    </div>
</body>

</html>