<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffssabcloud.myblog.domain.dao.ArticleMapper" >

    <resultMap id="BaseResultMap" type="com.ffssabcloud.myblog.domain.Article" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="authorId" property="authorid" jdbcType="INTEGER" />
        <result column="categories" property="categories" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="createAt" property="createat" jdbcType="INTEGER" />
        <result column="modifyAt" property="modifyat" jdbcType="INTEGER" />
        <result column="description" property="description" jdbcType="LONGVARCHAR" />
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
        <result column="status" property="status" jdbcType="BIT" />
        <result column="clicks" property="clicks" jdbcType="INTEGER" />
        <result column="tags" property="tags" jdbcType="VARCHAR" />
        <result column="comments" property="comments" jdbcType="INTEGER" />
        <result column="allowComment" property="allowcomment" jdbcType="BIT" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, authorId, categories, title, createAt, modifyAt, description, content, status, 
        clicks, tags, comments, allowComment
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ffssabcloud.myblog.domain.ArticleExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from Article
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from Article
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from Article
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.ffssabcloud.myblog.domain.ArticleExample" >
        delete from Article
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.ffssabcloud.myblog.domain.Article" >
        insert into Article (id, authorId, categories, 
            title, createAt, modifyAt, 
            description, content, status, 
            clicks, tags, comments, 
            allowComment)
        values (#{id,jdbcType=INTEGER}, #{authorid,jdbcType=INTEGER}, #{categories,jdbcType=VARCHAR}, 
            #{title,jdbcType=VARCHAR}, #{createat,jdbcType=INTEGER}, #{modifyat,jdbcType=INTEGER}, 
            #{description,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR}, #{status,jdbcType=BIT}, 
            #{clicks,jdbcType=INTEGER}, #{tags,jdbcType=VARCHAR}, #{comments,jdbcType=INTEGER}, 
            #{allowcomment,jdbcType=BIT})
    </insert>

    <insert id="insertSelective" parameterType="com.ffssabcloud.myblog.domain.Article" >
        insert into Article
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="authorid != null" >
                authorId,
            </if>
            <if test="categories != null" >
                categories,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="createat != null" >
                createAt,
            </if>
            <if test="modifyat != null" >
                modifyAt,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="clicks != null" >
                clicks,
            </if>
            <if test="tags != null" >
                tags,
            </if>
            <if test="comments != null" >
                comments,
            </if>
            <if test="allowcomment != null" >
                allowComment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="authorid != null" >
                #{authorid,jdbcType=INTEGER},
            </if>
            <if test="categories != null" >
                #{categories,jdbcType=VARCHAR},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="createat != null" >
                #{createat,jdbcType=INTEGER},
            </if>
            <if test="modifyat != null" >
                #{modifyat,jdbcType=INTEGER},
            </if>
            <if test="description != null" >
                #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="content != null" >
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=BIT},
            </if>
            <if test="clicks != null" >
                #{clicks,jdbcType=INTEGER},
            </if>
            <if test="tags != null" >
                #{tags,jdbcType=VARCHAR},
            </if>
            <if test="comments != null" >
                #{comments,jdbcType=INTEGER},
            </if>
            <if test="allowcomment != null" >
                #{allowcomment,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.ffssabcloud.myblog.domain.ArticleExample" resultType="java.lang.Integer" >
        select count(*) from Article
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update Article
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.authorid != null" >
                authorId = #{record.authorid,jdbcType=INTEGER},
            </if>
            <if test="record.categories != null" >
                categories = #{record.categories,jdbcType=VARCHAR},
            </if>
            <if test="record.title != null" >
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.createat != null" >
                createAt = #{record.createat,jdbcType=INTEGER},
            </if>
            <if test="record.modifyat != null" >
                modifyAt = #{record.modifyat,jdbcType=INTEGER},
            </if>
            <if test="record.description != null" >
                description = #{record.description,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.content != null" >
                content = #{record.content,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=BIT},
            </if>
            <if test="record.clicks != null" >
                clicks = #{record.clicks,jdbcType=INTEGER},
            </if>
            <if test="record.tags != null" >
                tags = #{record.tags,jdbcType=VARCHAR},
            </if>
            <if test="record.comments != null" >
                comments = #{record.comments,jdbcType=INTEGER},
            </if>
            <if test="record.allowcomment != null" >
                allowComment = #{record.allowcomment,jdbcType=BIT},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update Article
        set id = #{record.id,jdbcType=INTEGER},
            authorId = #{record.authorid,jdbcType=INTEGER},
            categories = #{record.categories,jdbcType=VARCHAR},
            title = #{record.title,jdbcType=VARCHAR},
            createAt = #{record.createat,jdbcType=INTEGER},
            modifyAt = #{record.modifyat,jdbcType=INTEGER},
            description = #{record.description,jdbcType=LONGVARCHAR},
            content = #{record.content,jdbcType=LONGVARCHAR},
            status = #{record.status,jdbcType=BIT},
            clicks = #{record.clicks,jdbcType=INTEGER},
            tags = #{record.tags,jdbcType=VARCHAR},
            comments = #{record.comments,jdbcType=INTEGER},
            allowComment = #{record.allowcomment,jdbcType=BIT}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.ffssabcloud.myblog.domain.Article" >
        update Article
        <set >
            <if test="authorid != null" >
                authorId = #{authorid,jdbcType=INTEGER},
            </if>
            <if test="categories != null" >
                categories = #{categories,jdbcType=VARCHAR},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="createat != null" >
                createAt = #{createat,jdbcType=INTEGER},
            </if>
            <if test="modifyat != null" >
                modifyAt = #{modifyat,jdbcType=INTEGER},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=BIT},
            </if>
            <if test="clicks != null" >
                clicks = #{clicks,jdbcType=INTEGER},
            </if>
            <if test="tags != null" >
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="comments != null" >
                comments = #{comments,jdbcType=INTEGER},
            </if>
            <if test="allowcomment != null" >
                allowComment = #{allowcomment,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ffssabcloud.myblog.domain.Article" >
        update Article
        set authorId = #{authorid,jdbcType=INTEGER},
            categories = #{categories,jdbcType=VARCHAR},
            title = #{title,jdbcType=VARCHAR},
            createAt = #{createat,jdbcType=INTEGER},
            modifyAt = #{modifyat,jdbcType=INTEGER},
            description = #{description,jdbcType=LONGVARCHAR},
            content = #{content,jdbcType=LONGVARCHAR},
            status = #{status,jdbcType=BIT},
            clicks = #{clicks,jdbcType=INTEGER},
            tags = #{tags,jdbcType=VARCHAR},
            comments = #{comments,jdbcType=INTEGER},
            allowComment = #{allowcomment,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <resultMap id="archiveMap" type="com.ffssabcloud.myblog.domain.Archive">
    <id column="date" property="date"/>
    <result column="count" property="count"/>
  </resultMap>

  <select id="selectArchives" resultMap="archiveMap">
    select FROM_UNIXTIME(createAt, '%Y-%m') as date, count(*) as count from Article where status = true group by date order by date desc
  </select>
</mapper>