<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffssabcloud.myblog.domain.dao.CommentMapper" >

    <resultMap id="BaseResultMap" type="com.ffssabcloud.myblog.domain.Comment" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="authorId" property="authorid" jdbcType="INTEGER" />
        <result column="articleId" property="articleid" jdbcType="INTEGER" />
        <result column="replyId" property="replyid" jdbcType="INTEGER" />
        <result column="reply" property="reply" jdbcType="VARCHAR" />
        <result column="createAt" property="createat" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, author, authorId, articleId, replyId, reply, createAt, content
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ffssabcloud.myblog.domain.CommentExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from Comment
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from Comment
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from Comment
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.ffssabcloud.myblog.domain.CommentExample" >
        delete from Comment
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.ffssabcloud.myblog.domain.Comment" >
        insert into Comment (id, author, authorId, 
            articleId, replyId, reply, 
            createAt, content)
        values (#{id,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, #{authorid,jdbcType=INTEGER}, 
            #{articleid,jdbcType=INTEGER}, #{replyid,jdbcType=INTEGER}, #{reply,jdbcType=VARCHAR}, 
            #{createat,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.ffssabcloud.myblog.domain.Comment" >
        insert into Comment
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="author != null" >
                author,
            </if>
            <if test="authorid != null" >
                authorId,
            </if>
            <if test="articleid != null" >
                articleId,
            </if>
            <if test="replyid != null" >
                replyId,
            </if>
            <if test="reply != null" >
                reply,
            </if>
            <if test="createat != null" >
                createAt,
            </if>
            <if test="content != null" >
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="author != null" >
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="authorid != null" >
                #{authorid,jdbcType=INTEGER},
            </if>
            <if test="articleid != null" >
                #{articleid,jdbcType=INTEGER},
            </if>
            <if test="replyid != null" >
                #{replyid,jdbcType=INTEGER},
            </if>
            <if test="reply != null" >
                #{reply,jdbcType=VARCHAR},
            </if>
            <if test="createat != null" >
                #{createat,jdbcType=INTEGER},
            </if>
            <if test="content != null" >
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.ffssabcloud.myblog.domain.CommentExample" resultType="java.lang.Integer" >
        select count(*) from Comment
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update Comment
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.author != null" >
                author = #{record.author,jdbcType=VARCHAR},
            </if>
            <if test="record.authorid != null" >
                authorId = #{record.authorid,jdbcType=INTEGER},
            </if>
            <if test="record.articleid != null" >
                articleId = #{record.articleid,jdbcType=INTEGER},
            </if>
            <if test="record.replyid != null" >
                replyId = #{record.replyid,jdbcType=INTEGER},
            </if>
            <if test="record.reply != null" >
                reply = #{record.reply,jdbcType=VARCHAR},
            </if>
            <if test="record.createat != null" >
                createAt = #{record.createat,jdbcType=INTEGER},
            </if>
            <if test="record.content != null" >
                content = #{record.content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update Comment
        set id = #{record.id,jdbcType=INTEGER},
            author = #{record.author,jdbcType=VARCHAR},
            authorId = #{record.authorid,jdbcType=INTEGER},
            articleId = #{record.articleid,jdbcType=INTEGER},
            replyId = #{record.replyid,jdbcType=INTEGER},
            reply = #{record.reply,jdbcType=VARCHAR},
            createAt = #{record.createat,jdbcType=INTEGER},
            content = #{record.content,jdbcType=LONGVARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.ffssabcloud.myblog.domain.Comment" >
        update Comment
        <set >
            <if test="author != null" >
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="authorid != null" >
                authorId = #{authorid,jdbcType=INTEGER},
            </if>
            <if test="articleid != null" >
                articleId = #{articleid,jdbcType=INTEGER},
            </if>
            <if test="replyid != null" >
                replyId = #{replyid,jdbcType=INTEGER},
            </if>
            <if test="reply != null" >
                reply = #{reply,jdbcType=VARCHAR},
            </if>
            <if test="createat != null" >
                createAt = #{createat,jdbcType=INTEGER},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ffssabcloud.myblog.domain.Comment" >
        update Comment
        set author = #{author,jdbcType=VARCHAR},
            authorId = #{authorid,jdbcType=INTEGER},
            articleId = #{articleid,jdbcType=INTEGER},
            replyId = #{replyid,jdbcType=INTEGER},
            reply = #{reply,jdbcType=VARCHAR},
            createAt = #{createat,jdbcType=INTEGER},
            content = #{content,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>