<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffssabcloud.myblog.domain.dao.UserRepository">
    <!-- <resultMap id="userMap" type="com.ffssabcloud.myblog.domain.User">
        <id property="id" column="id" javaType="Integer"/>
        <result property="username" column="username"/>
        <result property="userId" column="userId"/>
        <result property="roleId" column="roleId"/>
        <result property="email" column="email"/>
        <result property="description" column="description"/>
        <result property="location" column="location"/>
        <result property="password" column="password"/>
    </resultMap> -->
    <select id="findLocalAuthByUsername" parameterType="String" 
        resultType="com.ffssabcloud.myblog.domain.LocalAuth">
        select *
        from LocalAuths
        where username=#{username}
    </select>
    <select id="findUserInfoByUsername" parameterType="String"
        resultType="com.ffssabcloud.myblog.domain.User">
        select id, username, description, location, registerBy
        from Users
        where username=#{username}
    </select>
    <select id="getCountOfUser" resultType="int">
        select count(*)
        from Users
    </select>
    <insert 
        id="addAUser"
        parameterType="com.ffssabcloud.myblog.domain.User"
        flushCache="true">
        insert into Users(username, registerBy)
        values(#{username}, #{registerBy})
    </insert>
    <insert 
        id="addALocalAuth"
        parameterType="com.ffssabcloud.myblog.domain.LocalAuth"
        flushCache="true">
        insert into LocalAuths(roleId, username, password)
        values(#{roleId}, #{username}, #{password})
    </insert>
</mapper>